body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    resize: none;
    height: 60vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#id_content{
  display: block;
  margin: 0 0 10px 0;
}
#id_title_entry{
  display: block;
  width: 25%;
  margin: 0 0 5px 0;
}

.new-entry-fields label {
  margin: 2px 0 0 2px
}

h1{
  display:inline-block;
}
