{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search results:
{% endblock%}

{% block body %}
  <h1>Search results: </h1>
  <br>
  <br>
  {% if messages %}
    {% for message in messages %}
      <h2>{{ message }}</h2>
    {% endfor %}
  {% else %}
    <h2>There are multiples entries with a similar name, some of them are:</h2>
    <ul>
      {% for entry in entries %}
        <li><a href="{% url 'getPage' pageName=entry %}">{{ entry }}</a></li>
      {% endfor%}
    </ul>
  {% endif %}

{% endblock %}
